.section-signin {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0,0,0,.15);
    width: 550px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px 50px 30px 50px;
}

.input-login {
    border: 1px solid #edf2f7;
    color: #686868;
    border-radius: 3px;
    padding: 18px 10px;
    background-color: #f7fafc;
    transition: all 0.2s ease-in-out;
    margin: 10px 0;
}

.input-login:focus {
    outline: none;
    border: 1px solid #1071fe;
    background-color: #fff;
}

.input-error {
    border: 1px solid red;
}

.btn-login {
    border-radius: 5px;
    border: none;
    background-color: #1071fe;
    color: #fff;
    cursor: pointer;
    height: 35px;
}
