.post-article {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.post-page-user{
    display: flex;
    margin-right: 0;
    position: relative;
}

.post-page-post {
    display: flex;
    flex-direction: column;
    padding: 6px 0 0 8px;
}

.post-image {
    width: 100%;
}