.search-box {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 690px;
    position: relative;
}

.search-panel{
    position: absolute; 
    width: 100%;
    z-index: 1;
    background: #fff;
    height: auto;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 1px;
}