.prevphoto-article {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.reactEasyCrop_Container {
    z-index: 2;
}

.prevphoto-button {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
